<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- Content Security Policy -->
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' https://cdnjs.cloudflare.com  https://code.jquery.com  https://ajax.aspnetcdn.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' data: https:; font-src https://fonts.gstatic.com;  connect-src *;" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>